 body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

 .btnn{
    background-color: blueviolet !important;
    color: white !important;
}
.log{
    gap: 2em;
}
 /*----------------hero start---------------*/
.hero1{
    height: 90vh;
    background-color: blueviolet;
    display: flex;
}
.text1{
width: 50%;
padding: 20vh;
color: white;
}
.image1{
    width: 40%;
    padding-left: 50px;
    padding-top: 5%;
}
.imaage1{
width: 40vw;
height: 70vh;
border-radius: 10px;
}
/*----------------hero end---------------*/
/*----------------footer start---------------*/
.footer1{
    height: 100vh;
    width: 100vw;    
}
.container1{
    background-color: white;
    z-index: 1;
    margin-top: -40vh;
}

.col1{
   background-color: white;
    height: 45vh;
    padding: 20px;
margin-left: 30vw;
}
.pic{
    width: 105vw;
    height: 110vh;
padding: 25vh;
background-color: white;
    z-index: 1;
    margin-top: 40vh;
}
/*----------------footer end---------------*/
/*-------------------post start---------------------*/
.post{
    display: flex;
    height: 120vh;
}
.pic2{
    width: 40vw;

}
.post1{
    padding: 5%;
}
.post2{
    padding: 10%;
}

/*-------------------card1 start---------------------*/
.cards{
    height: 100vh;
}
.card1{
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.img-3{
    border-radius: 5px;
}
/*-------------------card1 end---------------------*/
/*-------------------card2 start---------------------*/

.card2{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
flex-wrap: wrap;
}
.card{
     border: none !important;
  box-shadow: none !important;
}
.img1{
    height: 46vh;
}
.card.box2{
    height: 88vh;
 
}
.img-big{
    height: 60vh !important;
}
/*-------------------card2 end---------------------*/
/*-------------------card3 start---------------------*/
.card3{
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.img1{
    height: 46vh;
}
.card.box2{
    height: 88vh;
 
}
.img-bigg{
    height: 46vh !important;
}
/*-------------------card3 end---------------------*/
/*-------------------2nd last start---------------------*/
.last2{
height: 60vh;
width: 100%;
 background-color: blueviolet;
}
.content1{
    width: 100%;
    max-width: 1500px;
    height: 60vh;
    background-color: blueviolet;
   flex-direction: column;
   display: flex;
   gap: 1em;
}
.content{
padding: 5vh;
}
.story1{
    color: white;
    font-size: 45px;
    width: 50vw;
    margin: 0 auto;
}
.story2{
    color: white;
    width: 50vw;
    margin: 0 auto;
}
.btn{
    display: flex;
    flex-direction: row;
}
/*-------------------2nd last end---------------------*/
/*-------------------final start---------------------*/

.final{
    height: 60vh;
    width: 100%;
    padding: 30px;
}
.zar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;

}
.circle{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border-radius: 50% 50%;
}
.cir1{
    color: white;
    font-size: 15px;
    padding: 8px;
}
.cir2{
    color: white;
    font-size: 15px;
    padding: 8px;
}
.cir3{
    color: white;
    font-size: 15px;
    padding: 8px;
}
.cir4{
    color: white;
    font-size: 15px;
    padding: 8px;
}
.copy1{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

/*-------------------final end---------------------*/
@media (max-width:1100px){
.hero1{
height: 70vh;
margin-left: -100px;
gap: 1em;
}
.text1{
    width: 70vw;
}
.text2{
    font-size: 35px;
}
.imaage1{
width: 45vw;
height: 50vh;
margin-left: -150px;
}
}



@media (max-width:1000px){
.hero1{
height: 55vh;
margin-left: -90px;
}
.featur{
    margin-left: -80px;
}
.batan{
    margin-left: -80px;
}
.text1{
    width: 70vw;
    margin-top: -70px;
    min-width: 50vw;
    margin-left: 30px;
}
.text2{
    font-size: 30px;
    margin-left: -80px;
}
.pera{
    min-width: 30vw;
    font-size: 15px;
    margin-left: -80px;
}
.imaage1{
width: 45vw;
height: 45vh;
margin-left: -150px;
}
/*----------------footer start---------------*/
.pic{
    width: 90vw;
    height: 30vh;
    padding: 15px;
    margin-left: 35px;
    z-index: 1;
}
.col1{
    width: 65vw !important; 
}
.footer1{
    height: 60vh;
}

/*-------------------post start---------------------*/
.pic2{
    width: 50vw;
}
.post2{
    width: 50vw;
    padding-left: 30px;
}
.post{
    height: 60vh;
}
.post3{
    font-size: 25px;
}
.pera2{
    font-size: 15px;
}
/*-------------------card2 start---------------------*/
.img-big{
    height: 30vh !important;
}
.img1{
    height: 30vh;
}

.box3{
    margin-top: -30vh;
}
.card2{
    height: 120vh;
}
/*-------------------card3 start---------------------*/
.card3{
height: 100vh !important;
}
.img-bigg{
    height: 30vh !important;
}
.box2{
    height: 50vh !important;
}
}

@media (max-width:800px){
.hero1{
height: 55vh;
margin-left: -90px;
gap: 1em;
}
.text1{
    width: 70vw;
    margin-top: -70px;
    min-width: 50vw;
}
.text2{
    font-size: 25px;
    min-width: 30vw;
}
.pera{
    min-width: 30vw;
    font-size: 10px;
}
.imaage1{
width: 55vw;
height: 45vh;
margin-left: -120px;
}
}




@media (max-width:650px){
.hero1{
height: 50vh;
margin-left: -130px;
}
.text1{
    width: 70vw;
    margin-top: -70px;
    min-width: 50vw;
    padding-left: -30%;
}
.text2{
    font-size: 25px;
    min-width: 30vw;
}
.pera{
    min-width: 30vw;
    font-size: 10px;
}
.imaage1{
width: 45vw;
height: 40vh;
margin-left: -100px;
}
}

@media (max-width:550px){
.hero1{
height: 80vh;
flex-direction: column;
margin-left: -130p;
}
.text1{
    width: 100vw;
    margin-top: -130px;
    min-width: 50vw;
    padding-left: -30%;
}
.text2{
    font-size: 25px;
    min-width: 50vw;
}
.pera{
    min-width: 50vw;
    font-size: 10px;
}
.imaage1{
width: 85vw;
height: 40vh;
margin-left: 115px;
margin-top: -195px;
}
}


@media (max-width:420px){
.hero1{
height: 80vh;
flex-direction: column;
margin-left: -130p;
}
.text1{
    width: 100vw;
    margin-top: -130px;
    min-width: 50vw;
    padding-left: -30%;
}
.text2{
    font-size: 25px;
    min-width: 50vw;
}
.pera{
    min-width: 50vw;
    font-size: 10px;
}
.imaage1{
width: 85vw;
height: 35vh;
margin-left: 115px;
margin-top: -195px;
}
}




@media (max-width:420px){
.hero1{
height: 80vh;
flex-direction: column;
margin-left: -130p;
}
.text1{
    width: 100vw;
    margin-top: -130px;
    min-width: 50vw;
    padding-left: -30%;
}
.text2{
    font-size: 25px;
    min-width: 50vw;
}
.pera{
    min-width: 50vw;
    font-size: 10px;
}
.imaage1{
width: 80vw;
height: 30vh;
margin-left: 105px;
margin-top: -195px;
}
}


@media (max-width:238px){
.hero1{
height: 85vh;
flex-direction: column;
margin-left: -130p;
}
.text1{
    width: 100vw;
    margin-top: -130px;
    min-width: 50vw;
    padding-left: -30%;
}
.text2{
    font-size: 25px;
    min-width: 50vw;
}
.pera{
    min-width: 50vw;
    font-size: 10px;
}
.imaage1{
width: 80vw;
height: 25vh;
margin-left: 105px;
margin-top: -195px;
}
}
